<!-- FirstPage.html -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Novel In Me</title>
  <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.0.0-beta3/css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-12 text-center">
      <h1>Novel In Me</h1>
      <a href="/selectChar" class="btn btn-primary btn-lg mt-3">Start</a>
    </div>
  </div>
</div>

<script th:src="@{/webjars/bootstrap/5.0.0-beta3/js/bootstrap.min.js}"></script>
</body>
</html>